img.banner {
  width: 100%;
}

.event-essentials {
  font-size: 16px;
  text-align: left;
  padding: 0 10%;
}

.event {
  font-size: 22px;
  
  &-title {
    border: 1px solid var(--shade-200);
  }

  &-time {
    color: #ff0000;
  }
}