img.banner {
  width: 100%;
}

.event-essentials {
  text-align: left;
  
  &-pst {
    font-size: 16px;
    text-align: left;
    padding: 0 10%;
  }
}

.event {
  font-size: 22px;
  
  &-title {
    border: 1px solid gold;
  }

  &-time {
    color: #ff0000;
  }
}