.holiday-banner {
  position: absolute;
  top: 15px;
  width: calc(100dvw - 30px);
}

.overlay {
  position: absolute;
  top: 15px;
  width: calc(100dvw - 30px);
  height: 245px;
  background-color: color-mix(in srgb, var(--highlight-600), transparent 60%);
}

img.banner {
  width: 100%;
}

.event-essentials {
  font-size: 16px;
  text-align: left;
  padding: 0 10%;
}

.event {
  font-size: 22px;
  
  &-title {
    border: 1px solid var(--shade-200);
  }

  &-time {
    color: #ff0000;
  }
}